.start {
    background-color: rgb(0, 255, 0);
    width: 150px;
    height: 100px;
    font-size: 50px;
}

.stop {
    background-color: rgb(255, 0, 0);
    width: 150px;
    height: 100px;
    font-size: 50px;
}

.pause {
    background-color: rgb(255, 255, 0);
    width: 150px;
    height: 100px;
    font-size: 50px;
}

.killswitch {
    background-color: rgb(0, 0, 255);
    width: 150px;
    height: 100px;
    font-size: 50px;
}

.map_square {
    width: 600px;
    height: 600px;
    /*background-color: rgb(150, 150, 150);*/
    background-image: url("http://192.168.50.50:8080/stream?topic=/aruco_map/image");
    /*background-image: url("http://192.168.50.50:8080/stream?topic=/main_camera/image_raw");*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 4px solid black;
    position: relative;
}

.mark_triangle {
    position: absolute;
    width: 30px;
    height: 30px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.mark_circle {
    position: absolute;
    width: 30px;
    height: 30px;
    clip-path: circle(50% at 50% 50%);
}

.mark_square {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid black;
}

.topic_debug {
    width: 600px;
    height: 600px;
    background-image: url("http://192.168.50.50:8080/stream?topic=/main_camera/image_raw");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    left: 30px;
}

.coords {
    position: absolute;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.coords_log {
    position: relative;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    left: 30px;
}

.map_square, .coords_log {
    display: inline-block;
    vertical-align: top;
}

.cont {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.btntopic {
    background-color: rgb(150, 150, 150);
    width: 150px;
    height: 70px;
    font-size: 30px;
}
